<!-- header of the page -->
<header id="header">
	<div class="header-holder">
		<div class="wrap">
			<div class="logo">
				<a href="/">
					<img class="desktop-image" src="//localhost:8000/static_assets/images/header/svg/logo.svg" width="146" height="29" alt="smooch">
					<img class="mobile-image" src="//localhost:8000/static_assets/images/header/svg/logo-mobile.svg" width="38" height="29" alt="smooch">
				</a>
			</div>
			<div class="right-nav">
				<a href="//app.smooch.io/login" class="login mobi-hide app-link">Log in</a>
				<a href="//app.smooch.io/signup" class="btn btn-signup app-link">Sign up for free</a>
			</div>
			<nav class="main-nav">
				<a href="#" class="nav-opener"><span></span></a>
				<ul>
					<li><a href="/is">Features</a></li>
					<li><a href="/integrations">Integrations</a></li>
					<li><a href="/customers">Customers</a></li>
					<li><a href="/pricing">Pricing</a></li>
					<li><a href="/docs">Docs</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="http://blog.smooch.io">Blog</a></li>
					<li class="mobi-show"><a href="#">Log in</a></li>
				</ul>
				<div class="overlay"></div>
			</nav>
		</div>
	</div>
</header>
